<!doctype html>
<html lang="tr">
<head>
    <style>
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
    </style>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Joseph's House</title>
    <meta name="description" content="Minimal Multipurpose Portfolio Templat">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fav Icon
    ============================================ -->

    <link id="favicon" rel="icon" type="image/png" href="~/Content/img/favicon.png" />
    <!-- Google web fonts
    ============================================ -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/css0f7c.css" rel="stylesheet">
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <!-- Font Awesome & Pe-icon-7-stroke CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/pe-icon-7-stroke.css" />
    <!-- Animated Headlines CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/headlines.css" />
    <!-- Plugins CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins.css" />
    <!-- Stylesheet CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <!-- Modernizr JS
    ============================================ -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--Datetimepicker-->
    <link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/datepicker.min.css" />
    

</head>
<body>
    <!-- Preloader
    ============================================ -->
    <div class="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    @RenderBody()
    <!-- jQuery 1.12.0
    ============================================ -->
    <script src="~/Content/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap JS
    ============================================ -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <!-- Animated Headlines JS
    ============================================ -->
    <script type="text/javascript" src="~/Content/js/headlines.js"></script>
    <!-- Plugins JS
    ============================================ -->
    <script type="text/javascript" src="~/Content/js/plugins.js"></script>
    <!-- Main JS
    ============================================ -->
    <script type="text/javascript" src="~/Content/js/main.js"></script>

    <!--Datetimepicker-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>